<launch>
    <!-- Launch other launch files -->
    <include file="$(find vision)/launch/camera.launch"/>
    <include file="$(find vision)/launch/detection.launch"/>
    <include file="$(find lanekeeping)/launch/lanekeeping.launch"/>
    <!-- <include file="$(find sensors)/launch/sensors.launch"/>  -->
    <include file="$(find control)/launch/engines.launch"/>
    <!-- Add more includes for additional launch files -->
</launch>
